body {
	margin-right: 80 px;
	margin-bottom: 80 px;
	background: url("../images/sp-adam.png") bottom right;	
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #e8e8e8;
}

h1 {
	color: SaddleBrown;
}

h2 {
	color: MidnightBlue;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.pm {
    font-family: "Comic Sans", "Comic Sans MS", "Papyrus", cursive;
    font-weight: 500;
    color: Fuchsia
}

.developer {
	font-family: "Lucida Console", Monaco, monospace;
	color: DarkBlue;
	font-size: 80%
}

.ops {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 110%;
	color: DarkOliveGreen
}

.step {
    font-family: Arial, Helvetica, sans-serif;
}

.strike: {
	text-decoration: line-through;
}